{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "react-hot-loader/babel"
  ]
}